<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

    <!-- Parametrages propres a cette application web -->
    <context-param>
        <description>Constantes de l'appli. Accessibles par getServletContext().getInitParameter("name"); ou dans une JSP par application.getInitParameter("name");</description>
        <param-name>concepteur</param-name>
        <param-value>Philippe MATHIEU, LP DA2I</param-value>
   </context-param>
    

    <!-- Vie de la session en minutes -->
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>menu.html</welcome-file>
    </welcome-file-list>


    <!--       Recuperation des erreurs      -->
    <!-- A commenter lors des mises au point -->
    <error-page>
        <error-code>403</error-code>
        <location>/erreur.jsp?message=Cette page ne vous est pas accessible</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/erreur.jsp?message=Page inexistante</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erreur.jsp?message=BDD ou Beans inaccessibles</location>
    </error-page>



    <!--  Lien entre les pages et les roles -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrateur</web-resource-name>
            <url-pattern>/page2.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>role1</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrateur</web-resource-name>
            <url-pattern>/page3.html</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>role2</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrateur</web-resource-name>
            <url-pattern>/page4.jsp</url-pattern>
            <url-pattern>/page5.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>role1</role-name>
            <role-name>role2</role-name>
        </auth-constraint>
    </security-constraint>


    <!-- La maniere dont la page de login est affichee -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Nom affiché sur le formulaire</realm-name>
    </login-config>

    <!-- La liste des differents roles -->
    <security-role>
        <role-name>role1</role-name>
    </security-role>
    <security-role>
        <role-name>role2</role-name>
    </security-role>

</web-app>
