/**
 * Demo Styles
 */
html {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	font-family: "Helvetica Neue", Arial, sans-serif;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
	background: #cfd8dc; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #cfd8dc 0%, #607d8b 100%, #b0bec5 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #cfd8dc 0%, #607d8b 100%, #b0bec5 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #cfd8dc 0%, #607d8b 100%, #b0bec5 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc',
		endColorstr='#b0bec5', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 80px;
	height: 9%;
	min-width: 1600px;
	width: 100%;
	margin: 0;
	background-color: #60767f;
	z-index: 1000;
}

.header .logo img {
	float: left;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 3%;
	height: 80%;
	width: 5%;
}

.header .profil {
	float: left;
	margin: 0;
	background-color: white;
	min-height: 74%;
	height: 74%;
	width: 15%;
	margin-left: 15%;
	margin-top: 0.50%;
	margin-bottom: 0.50%;
	font-size: x-large;
	font-weight: bold;
}

.header .search {
	background-color: white;
	float: left;
	margin-left: 25%;
	margin-top: 0.50%;
	min-height: 74%;
	height: 74%;
	min-width: 22%;
	width: 22%;
	border-radius: 20% 0% 0% 20%;
}
.header .search a:hover{
	cursor: pointer;	
}

.header .search i {
	margin-top: 5%;
	margin-left: 3%;
	float: left;
}

.header .search input {
	margin-top: 5%;
	margin-left: 3%;
	border: 0 white;
	color: purple;
	opacity: 1.5;
	font-weight: bold;
	font-size: large;
}

.header .search input:focus {
	outline: none;
}

.header .profil img {
	height: 50px;
	width: 50px;
}

.header .profil p {
	margin: 0;
}

.header .profil table {
	margin: 1px auto;
	text-align: left;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

.content {
	margin: 125px auto auto auto;
	max-width: 640px;
	width: 94%;
	max-height: 640px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #6f8a94;
	text-align: center;
}