/**
 * Demo Styles
 */
 
@font-face {
        font-family: "mv_boli";
        src: url(/TweetBook/font/mvboli.ttf);
}

html {
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	min-height: 100%;
	min-width: 1340px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	background-color: rgba(95, 169, 221, 0.5);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 80px;
	height: 9%;
	min-width: 1600px;
	width: 100%;
	margin: 0;
	background-color: #5FA9DD;
	z-index: 1000;
}

.header .logo img {
	float: left;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 3%;
	height: 75%;
	width: 10%;
}

.header .profil {
	float: left;
	margin: 0;
	background-color: white;
	min-height: 74%;
	height: 74%;
	width: 13%;
	margin-left: 23%;
	margin-top: 0.50%;
	margin-bottom: 0.50%;
	font-size: x-large;
	font-weight: bold;
}

.header .profil a{
	text-decoration: none;
	color: #2D2E83;
	font-family: "mv_boli";
}

.header .search {
	background-color: #2D2E83;
	float: left;
	margin-left: 24%;
	margin-top: 0.50%;
	min-height: 74%;
	height: 74%;
	min-width: 22%;
	width: 22%;
}
.header .search a:hover{
	cursor: pointer;	
}

.header .search i {
	margin-top: 5%;
	margin-left: 3%;
	float: left;
	color: white;
}

.header .search i:hover{
	zoom:110%;
}

.header .search input {
	margin-top: 15px;
	margin-left: 3%;
	color: white;
	opacity: 1.5;
	font-size: x-large;
	background-color: #2D2E83;
	border: 0px;
	font-family: "mv_boli";
}

.header .search input:focus {
	outline: none;
}

.header .search input::placeholder {
	color:white;
	font-family: "mv_boli";
}


.header .profil img {
	height: 50px;
	width: 50px;
}

.header .profil p {
	margin: 0 0 0 5px;
	font-weight: bold;
	font-size: x-large;
}

.header .profil table {
	margin: 1px auto;
	text-align: left;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}

.content {
	margin: 125px auto 0 auto;
	max-width: 640px;
	width: 94%;
	height:97%;
	text-align: center;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
	text-align: center;
}